<h1>DashBoard of <%= currentUser.user.username %></h1>

<form action="/logout">
	<button type="submit" class="btn btn-custom logout">Logout</button>
</form>
<form action="/search">
	<button type="submit" class="btn btn-custom searchbutton">Search</button>
</form>
<form action="/userProfile">
	<button type="submit" class="btn btn-custom userprofile">User Profile</button>
</form>
<h2>JOBS APPLIED LIST:</h2>
<% if(!user.jobsApplied) { %>
  <p>Number of Jobs: 0</p>
<% } else { %>
  <p>Number of Jobs: <%= user.jobsApplied.length %>		</p>
  <div class="job-listing-container">
  <ol>
    <% user.jobsApplied.forEach((job) => { %>
      <div class="job-listing">
        <li>
          <p class="jobtitle">TITLE:<%= job.title %><p>
          <p class="jobcompany">COMPANY:<%= job.company %></p>
          <p class="jobsalary"> SALARY: $<%= job.salary %></p>
          <p class="jobdescription"> DESCRIPTION: $<%= job.description%></p>
          <form action="/dashboard/<%= job._id %>/delete" method="POST">
            <button class="btn btn-custom deletejob">DELETE</button>
          </form>
        </li>
      </div>
    <%  }) %>
  </ol>
</div>
  <% } %>

