<h1>DashBoard of <%= currentUser.user.username %></h1>

<% if(!user.avatar) { %>
  <section>
    <img style="width:100px; border-radius:50%;" src="./images/JoBot_Profile.png" alt="Default Pic" />
  </section>
<% } else { %>
  <img style="width:100px; border-radius:50%;" src="<%=user.avatar.pic_path %>" alt="Profile Pic">
<% } %>

<h2>JOBS APPLIED LIST:</h2>
<% if(!user.jobsApplied) { %>
  <p>Number of Jobs: 0</p>
<% } else { %>
  <p>Number of Jobs: <%= user.jobsApplied.length %>		</p>
  <ol>
    <% user.jobsApplied.forEach((job) => { %>
      <div class="job-listing">
        <li>
          TITLE:<%= job.title %> COMPANY:<%= job.company %> SALARY: $<%= job.salary %> 
          <form action="/dashboard/<%= job._id %>/delete" method="POST">
            <button class="job-delete">DELETE</button>
          </form>
        </li>
      </div>
    <%  }) %>
  </ol>
  <% } %>

<form action="/userProfile">
	<button type="submit" class="btn btn-primary btn-block">User Profile</button>
</form>
<form action="/search">
	<button type="submit" class="btn btn-primary btn-block">Search</button>
</form>
<form action="/logout">
	<button type="submit" class="btn btn-primary btn-block">Logout</button>
</form>

<pre><code>
  <ol>
    <% user.jobsApplied.forEach((job) => { %>
      <li><%= job._id %></li>
    <%  }) %>
   </ol>
</code></pre>
