<h1>Search Results</h1>

 <ol>
  <% jobs.forEach((job) => { %>
    <div class="job-listing">
      <li>
        TITLE:<%= job.title %> - COMPANY:<%= job.company %> - CITY:<%= job.city %> - REQUIREMENTS:<%= job.requirements %>
        <form action="/job_display/<%= job._id %>">
        <button class="job-apply">APPLY</button>
        </form>
      </li>
    </div>
  <%  }) %>
  </ol> 

<form action="/userProfile">
	<button type="submit" class="btn btn-primary btn-block">User Profile</button>
</form>
<form action="/dashboard">
	<button type="submit" class="btn btn-primary btn-block">Dashboard</button>
</form>
<form action="/search">
	<button type="submit" class="btn btn-primary btn-block">Search</button>
</form>
<form action="/logout">
	<button type="submit" class="btn btn-primary btn-block">Logout</button>
</form>