<div class="profile-page-links">
  <div class="profile-link">
    <a class="link" href="/dashboard">Dashboard</a>
    <a class="link" href="/search">Search</a>
    <a class="link" data-toggle="modal" data-target='#EditProfile'>Edit Profile</a>
  </div>
</div>

<h1>Welcome <%= currentUser.user.username.replace(/\b\w/g, l => l.toUpperCase()) %></h1>
<h2>User Profile</h2>
<% if(!user.avatar) { %>
  <section>
    <img style="width:200px;height:200px; border-radius:50%;" src="./images/JoBot_Profile.png" alt="Default Pic" />
  </section>
<% } else { %>
  <img style="width:200px;height:200px; border-radius:50%;" src="<%=user.avatar.pic_path %>" alt="Profile Pic">
<% } %>

<%/* Trigger Avatar Modal with Button */%>
<button type="button" class="btn btn-custom avatarRegisterButton" data-toggle="modal" data-target='#addAvatarModal'>Add an Avatar to Profile</button>

<%/* Avatar Modal */%>
<div class="modal fade" id="addAvatarModal" role="dialog">
<div class="modal-dialog">

<%/* Avatar Modal Content*/ %>
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h4 class="modal-title">Avatar Upload</h4>
</div>
   <div class="modal-body">
     <p>Please choose Avatar file</p>
   </div>
   <div class="modal-footer">
      <form id='uploadForm' action='/uploads/addAvatar'method='post'encType="multipart/form-data">
        <input type="file" name="photo">
        <button class="btn btn-custom avatarRegisterButton" type="submit">Save Avatar</button>
       </form>
    </div>
</div>
</div>
</div>

<%/* Trigger Resume Modal with Button */%>
<button type="button" class="btn btn-custom ResumeRegisterButton" data-toggle="modal" data-target='#addResumeModal'>Add a CV/Resume to your profile</button>

<%/* Resume Modal */%>
<div class="modal fade" id="addResumeModal" role="dialog">
<div class="modal-dialog">

<%/* Resume Modal Content*/%>
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Resume Upload</h4>
</div>
  <div class="modal-body">
     <p>Please choose Resume file</p>
  </div>
  <div class="modal-footer">
    <form id='uploadForm' action='/uploads/addResume'method='post'encType="multipart/form-data">
        <input type="file" name="file">
        <button class="btn btn-custom ResumeRegisterButton" type="submit">Save CV/Resume</button>
    </form>
   </div>
    </div>
</div>
</div>

<% if(user.cvs.length===0) { %>
  <section>
   <p>You have no Resume uploaded</p>
  </section>
<% } else { %>
<section>
  <ol>
    <% user.cvs.forEach(function(resume) { %>
      <div class="resume-list">
        <li>
          Resume Name:<%= resume.resumeName %>
          <form action="/userProfile/<%= resume._id %>/delete" method="POST">
            <button class="resume-delete">DELETE</button>
          </form>
        </li>
      </div>
    <% })%>
  </ol>
</section>
<% } %>

<div class="form-group">
  <p class="form-control">Occupation: <%= user.occupation %></p>
  <p class="form-control">User Name: <%= user.username %></p>
  <p class="form-control">First Name: <%= user.firstName %></p>
  <p class="form-control">Last Name: <%= user.lastName %></p>
  <p class="form-control">Age: <%= user.age %></p>
  <p class="form-control">Email: <%= user.email %></p>
  <p class="form-control">Phone: <%=user.phone %></p>
  <p class="form-control">Street Number: <%= user.address.number%></p>
  <p class="form-control">Street: <%= user.address.street %></p>
  <p class="form-control">City: <%= user.address.city %></p>
  <p class="form-control">Country: <%= user.address.Country %></p>
  <p class="form-control">Zip: <%= user.address.zip %></p>
</div>

<%/* Trigger Edit Profile Modal with Button */%>
<%/* Edit Profile Modal */%>
<div class="modal fade" id="EditProfile" role="dialog">
<div class="modal-dialog">

<%/* Edit Profile Modal Content*/ %>
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Edit Profile</h4>
</div>
    <div class="modal-body" style="overflow: auto;height:400px;">
      <form id='ProfileForm' action='/userProfile' method='POST'>
      <h3>Edit Profile Details:</h3>

      <label>Occupation</label>
      <input type="text" class="form-control" name="occupation" placeholder="Occupation" value="<%= user.occupation %>">

      <label>First Name</label>
      <input type="text" class="form-control" name="firstName" placeholder="First Name" value="<%= user.firstName %>">

      <label>Last Name</label>
      <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="<%= user.lastName %>">

      <label>Age</label>
      <input type="text" class="form-control" name="age" placeholder="Age" value="<%= user.age %>">

      <label>Email</label>
      <input type="text" class="form-control" name="email" placeholder="Email" value="<%= user.email %>">

      <label>Phone</label>
      <input type="text" class="form-control" name="phone" placeholder="Phone Number" value="<%= user.phone %>">

      <h3>Address</h3>
      <label>Street Number</label>
      <input type="text" class="form-control" name="streetnumber" placeholder="Street Number" value="<%= user.address.number %>">

      <label>Street</label>
      <input type="text" class="form-control" name="street" placeholder="Street" value="<%= user.address.street %>">

      <label>City</label>
      <input type="text" class="form-control" name="city" placeholder="City" value="<%= user.address.city %>">

      <label>Country</label>
      <input type="text" class="form-control" name="country" placeholder="Country" value="<%= user.address.Country %>">

      <label>Zip</label>
      <input type="text" class="form-control" name="zip" placeholder="Zip" value="<%= user.zip %>">

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary saveprofile" type="submit">Save</button>
      </form>
    </div>
</div>
</div>
</div>
