<h1>Welcome <%= currentUser.user.username %></h1>
<h2>User Profile</h2>
<% if(!user.avatar) { %>
  <section>
    <img style="width:100px; border-radius:50%;" src="./images/JoBot_Profile.png" alt="Default Pic" />
  </section>
<% } else { %>
  <img style="width:100px; border-radius:50%;" src="<%=user.avatar.pic_path %>" alt="Profile Pic">
<% } %>

<%/* Trigger Avatar Modal with Button */%>
<button type="button" class="btn btn-primary avatarRegisterButton" data-toggle="modal" data-target='#addAvatarModal'>Add an Avatar to Profile</button>

<%/* Avatar Modal */%>
<div class="modal fade" id="addAvatarModal" role="dialog">
  <div class="modal-dialog">
  
<%/* Avatar Modal Content*/%>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Avatar Upload</h4>
      </div>
      <div class="modal-body">
        <p>Please choose Avatar file</p>
      </div>
      <div class="modal-footer">
        <form id='uploadForm'
        action='/uploads/addAvatar'
        method='post'
        encType="multipart/form-data">
          <input type="file" name="photo">
          <button class="btn btn-primary avatarRegisterButton" type="submit">Save Avatar</button>
      </form>
      </div>
    </div>
  </div>
</div>
</div>

<%/* Trigger Resume Modal with Button */%>
<button type="button" class="btn btn-primary ResumeRegisterButton" data-toggle="modal" data-target='#addResumeModal'>Add a CV/Resume to your profile</button>

<%/* Resume Modal */%>
<div class="modal fade" id="addResumeModal" role="dialog">
  <div class="modal-dialog">
  
<%/* Resume Modal Content*/%>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Resume Upload</h4>
      </div>
      <div class="modal-body">
        <p>Please choose Resume file</p>
      </div>
      <div class="modal-footer">
        <form id='uploadForm'
        action='/uploads/addResume'
        method='post'
        encType="multipart/form-data">
          <input type="file" name="file">
          <button class="btn btn-primary ResumeRegisterButton" type="submit">Save CV/Resume</button>
      </form>
      </div>
    </div>
  </div>
</div>
</div>

<% if(user.cvs.length===0) { %>
  <section>
   <p>You have no Resume uploaded</p>
  </section>
<% } else { %>
<section>
  <ol>
    <% user.cvs.forEach(function(resume) { %>
      <div class="resume-list">
        <li>
          Resume Name:<%= resume.resumeName %>
          <form action="/userProfile/<%= resume._id %>/delete" method="POST">
            <button class="resume-delete">DELETE</button>
          </form>
        </li>
      </div>
    <% })%>
  </ol>
</section>
<% } %>

<div class="visible">

  <button id="editUserInfoButton" class="btn btn-primary btn-block" value="Edit Profile Details">Add Profile Details</button>

  <form style="border:1px solid black; margin: 10px;" class="userEditForm" action="/" method="POST" id="form2">
    <h3>Edit Profile Details:</h3>
    <p><label for="username">Username</label>
    <input type="text" name="username" placeholder="<%= currentUser.user.username %>"></p>

    <p><label for="password">Password</label>
    <input id="signupStrength" type="password" name="password" placeholder="<%= currentUser.user.password %>"></p>

    <div class="username">
      <label for="firstName">firstName</label>
      <input type="text" name="firstName" placeholder="<%= 'first name' || currentUser.user.firstName %>">

      <label for="lastName">lastName</label>
      <input type="text" name="lastName" placeholder="lastName">
    </div>

    <p><label for="age">age</label>
    <input type="text" name="age" placeholder="age"></p>

    <label for="email">email</label>
    <input type="email" name="email" placeholder="email">

    <label for="phone_number">phone number</label>
    <input type="text" name="phone_number" placeholder="phone number">

    <p><label for="occupation">occupation</label>
    <input type="text" name="occupation" placeholder="occupation"></p>


    <div class="address">
      <h4>Address</h4>
      <label for="street">street</label>
      <input type="text" name="street" placeholder="street">

      <label for="number">number</label>
      <input type="text" name="number" placeholder="number">

      <p><label for="city">city</label>
      <input type="text" name="city" placeholder="city"></p>

      <p><label for="country">country</label>
      <input type="text" name="country" placeholder="country"></p>

      <p><label for="zip_code">zip code</label>
      <input type="text" name="zip_code" placeholder="zip code"></p>
    </div>

    <button type="submit" class="btn btn-primary userEditFormButton">Save Profile Info</button>
</form>

<form action="/dashboard">
	<button type="submit" class="btn btn-primary btn-block">Dashboard</button>
</form>
<form action="/search">
	<button type="submit" class="btn btn-primary btn-block">Search</button>
</form>
<form action="/logout">
	<button type="submit" class="btn btn-primary btn-block">Logout</button>
</form>
